.bocniFieldset {
  width: 100%;
}

.bocniLabel {
  color: rgba(0, 0, 0, 0.54);
  position: unset;
  transform: unset;
  font-size: 0.75rem;
  margin-top: 0.8rem;
}

.bocniLabel:focus {
  color: rgba(0, 0, 0, 0.54);
}

.bocniCheckBoxGroup {
  flex-direction: row;
}

.bocniCheckBoxDvaSloupce {
  width: 45%;
}
