.chartWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleChart {
  width: 100%;
  max-width: 500px;
}

.doubleChart {
  width: 100%;
  max-width: 500px;
}

.jednoGraf {
  width: 100%;
  height: 100%;
}

.dvouGraf {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
}

@media screen and (max-width: 600px) {
}
